<img id="profile_placeholder" src="/assets/profile_placeholder.jpg">
	<div class="profile_info">
		<% following = false %>
		<% if session[:user_id] == @profile.user.id %>
			<div id="edit">
				<%= link_to "Edit Profile", edit_profile_path(@profile) %>
			</div>
		<% else %>
			<% @my_followees.each do |followee| %>
				<% if followee.id == @profile.user.id %>
					<% following = true %>

					<div id="edit">
						<%= link_to "Unfollow", {:controller => "follows", :action => "destroy", :id => params[:id] }, method: "post" %>
					</div>
				<% end %>
			<% end %>

			<% if following == false %>
				<div id="edit">
					<%= link_to "Follow", {:controller => "follows", :action => "create", :id => params[:id] }, method: "post" %>
				</div>
			<% end %>
		<% end %>
		
		<div class="clear"></div>

		<h1 class="profile_name">
			<%= fullname %>
		</h1>
		
		<p class="profile_fact">Email: <%= @profile.email%></p>
		<p class="profile_fact">Gender: <%= @profile.gender%></p>
		<p class="profile_fact">Work: <%= @profile.work %></p>
		<p class="profile_fact">Birthday:
			<% if @profile.birthday.present? %> 
				<%= @profile.birthday.strftime('%B %d') %>
			<% end %>
		</p>
	</div>

	<% if session[:user_id] == @profile.user.id %>
		<div id="make_post">
			<img id="bubbles" src="/assets/chatting_bubbles.png" width="150px">
			<p>What's new with you?</p>
		</div>

		<%= form_for(Post.new) do |f| %>
	  		<div class="field">
	    		<%= f.text_area :message %>
	  		</div>
	  		<div class="actions">
	    		<%= f.submit %>
	  		</div>
	  	<% end %>
	  <% end %>
	

	<div class="clear"></div>

	<div id="profile_section_titles">
		<h2 class="profile_title" id="following_title">Following</h2>
		<h2 class="profile_title" id="recent_posts_title">Recent Chatter</h2>
	</div>

	<div class="clear"></div>

	<div id="following_list">
		<% @profile_followees.each do |followee| %>
			<%= link_to followee.username, profile_path(followee.id) %>
			<br><br>
		<% end %>
	</div>

	<div id="recent_chatter">
		<% @posts.each do |post| %>
			<div class="posting">
				<p>
					<%= post.message %>
				</p>
				<p>
					<%= post.created_at.strftime("Posted: %m-%d-%Y %I:%M:%S %p") %>
				</p>
			</div>

			<% @comments.each do |comment| %>
				<% if comment.post_id == post.id %>
					<div class="comment">
						<p>
							<%= comment.message %>
						</p>
						<p>
							<%= comment.created_at.strftime("Posted: %m-%d-%Y %I:%M:%S %p") %>
						</p>
					</div>
				<% end %>
			<% end %>
		<% end %>
	</div>

	<div class="clear"></div>