<img id="profile_placeholder" src="/assets/profile_placeholder.jpg">
	<div class="profile_info">
		<div id="edit">
			<%= link_to "Edit Profile", edit_profile_path(@profile) %>
		</div>

		<div class="clear"></div>

		<h1 class="profile_name">
			<%= fullname %>
		</h1>
		
		<p class="profile_fact">Email: <%= @profile.email%></p>
		<p class="profile_fact">Gender: <%= @profile.gender%></p>
		<p class="profile_fact">Work: <%= @profile.work %></p>
		<p class="profile_fact">Birthday:
			<% if @profile.birthday.present? %> 
				<%= @profile.birthday.strftime('%B %d') %>
			<% end %>
		</p>
	</div>

	<div id="make_post">
		<img id="bubbles" src="/assets/chatting_bubbles.png" width="150px">
		<p>What's new with you?</p>
	</div>

	<%= form_for(Post.new) do |f| %>
  		<div class="field">
    		<%= f.text_area :message %>
  		</div>
  		<div class="actions">
    		<%= f.submit %>
  		</div>
  	<% end %>
	

	<div class="clear"></div>

	<div id="profile_section_titles">
		<h2 class="profile_title" id="following_title">Following</h2>
		<h2 class="profile_title" id="recent_posts_title">Recent Chatter</h2>
	</div>

	<div class="clear"></div>

	<div id="following_list">
		<% @followees = @user.users %>
		<% @followees.each do |followee| %>
			<%= link_to followee.username, profile_path(followee.id) %>
		<% end %>
	</div>

	<div id="recent_chatter">
		<% @posts.each do |post| %>
			<div class="posting">
				<p>
					<%= post.message %>
				</p>
				<p>
					<%= post.created_at.strftime("Posted: %m-%d-%Y %I:%M:%S %p") %>
				</p>
			</div>
		<% end %>
	</div>

	<div class="clear"></div>