<h1 class="message">Welcome to Chatter!</h1>

<div id="signup">
	<h3>Sign Up</h3>
	<h6>It's always free and always will be.</h6>
	<p id="connect">
		<span class="white_bold">Connect</span> with people from all over the world. 
		<br>
		<span class="white_bold">Share</span> what's new with you.
		<br>
		<span class="white_bold">Stay updated</span> on what's new with others.</p>

	<%= form_tag(users_path(User.new), method: "post") do %>
		<%= label_tag(:username, "Create username ") %>
		<%= text_field_tag(:username) %>
		<br><br>
		<%= label_tag(:email, "Enter email ") %>
		<%= text_field_tag(:email) %>
		<br><br>
		<%= label_tag(:password, "Enter password ") %>
		<%= password_field_tag(:password) %>
		<br><br>
		<%= label_tag(:password2, "Re-enter password ") %>
		<%= password_field_tag(:password2) %>
		<br><br>
		<%=submit_tag("Submit") %>
	<% end %>
</div>

<div id="login">
	<h3>Log In</h3>
	<h6>Welcome back!</h6>
	<%= form_tag("session/create", method: "post") do %>
		<%=label_tag(:username, "Username") %>
		<br>
		<%=text_field_tag(:username) %>
		<br><br>
		<%=label_tag(:password, "Password") %>
		<br>
		<%=password_field_tag(:password) %>
		<br><br>
		<%=submit_tag("Submit") %>
	<% end %>
</div>

<div class="clear"></div>