<!DOCTYPE html>
<html>
<head>
  <title><%=@title%></title>
  <link href="style.css" rel="stylesheet" type="text/css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<header>
		<div id="banner">
			<a href="/">	
				<img id="logo" src="/assets/chatter_logo.png">
			</a>
			<% if session[:user_id] %>
				<div id="sign_out_link">
					<%= link_to "Sign Out", session_path, method: :delete %>
				</div>
			<% end %>
		</div>
	</header>
	<div id="wrapper">
		<%= yield %>
	</div>
	<footer>
		&#169; 2015 <span id="blue_bold">Chatter</span> - All rights reserved.
	</footer>
	
	<%= flash[:notice] if flash[:notice] %>
	<%= flash[:alert] if flash[:alert] %>
</body>
</html>
